:root {
    --page-loader-width: 80px;
    --page-loader-height: 80px;
}

.page-loader {
    position: absolute;
    display: inline-block;
    top: calc(50% - (var(--page-loader-height) / 2));
    left: calc(50% - (var(--page-loader-width) / 2));
    width: var(--page-loader-width);
    height: var(--page-loader-height);
}

.page-loader div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: pageLoader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.page-loader div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes pageLoader {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}
