.auth-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 3;
}

.auth-window {
    width: 400px;
    min-height: 355px;
    background-color: rgba(255, 255, 255, .1);
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;

    transform: perspective(1000px) rotateY(0deg);
    transition: transform .5s linear;
}