.settings-page {
    display: flex;
    justify-content: center;
    flex-grow: 3;

    .settings-content {
        margin: 70px 20px 20px 20px;
        width: 70%;
        background: rgba(255, 255, 255, .2);
        min-height: 500px;
        border-radius: 10px;
        padding: 20px;

        .settings-body {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-row-gap: 10px;
            margin: 10px 0;

            .settings-name, .settings-value {
                border-bottom: 1px solid rgba(255, 255, 255, .2);
                padding: 5px 10px;

                &:nth-last-child(-n+2) {    // предпоследний элемент
                    border: none;
                }

                &:last-child {
                    border: none;
                }
            }
        }
    }
}