#notifications {
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 300px;
    height: calc(100% - 50px);
    padding-top: 50px;
    overflow-y: scroll;
    z-index: 3;

    -ms-overflow-style: none;  /* IE и Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }
}