.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal {
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-width: 430px;
    background: rgba(30, 36, 68, .85);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    backdrop-filter: blur(10px);
}

.removeUpload {
    opacity: .5;
    transition: opacity .2s ease-in-out;
    cursor: pointer;
}

.removeUpload:hover {
    opacity: 1;
}

.modal .list_upload {
    max-height: 400px;
    overflow: auto;
    margin: 10px 0;
}

.modal .list_upload table {
    /* margin-right: 10px; */
    width: 100%;
}

.modal .buttons {
    display: flex;
    justify-content: space-between;
}