@import 'fonts';
@import 'reset';

#root {
    background: linear-gradient(to top left, #e92bff, #4646ff);
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    color: #fff;
    text-decoration: none;
    outline: none;
}

// input[type=text], input[type=password] {
//     color: #fff;
//     outline: none;
//     background: transparent;
//     /* width: 300px; */
//     border: 1px solid rgba(255, 255, 255, .3);
//     border-radius: 5px;
//     padding: 7px;
//     margin: 10px 0;
// }

input[type=text]::selection, input[type=password]::selection {
    background-color: #4646ff;
}

input[type=password]:not(:placeholder-shown) {
    font-family: 'pass', 'Roboto', Helvetica, Arial, sans-serif;
}

table {
    margin: 10px 0;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

td, th {
    padding: 5px 10px;
    max-width: 50vw;
    overflow: hidden;
    text-overflow: ellipsis;
}

.slideDown {
    animation-name: slideDown;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
  
.slideUp {
    animation-name: slideUp;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
  
.slideRight {
    animation-name: slideRight;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
  
.slideLeft {
    animation-name: slideLeft;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes slideDown {
    0% {
        transform: translateY(-10px);
        opacity: 0;
        visibility: hidden;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
        visibility: visible;
    }
}
  
@keyframes slideUp {
    0% {
        transform: translateY(0px);
        opacity: 1;
        visibility: visible;
    }
    100% {
        transform: translateY(-10px);
        opacity: 0;
        visibility: hidden;
    }
}
  
@keyframes slideRight {
    0% {
        transform: translateX(-10px);
        opacity: 0;
        visibility: hidden;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
        visibility: visible;
    }
}
  
@keyframes slideLeft {
    0% {
        transform: translateX(10px);
        opacity: 0;
        visibility: hidden;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
        visibility: visible;
    }
}