@import 'fonts';
@import 'reset';

#root {
    background: linear-gradient(to top left, #e92bff, #4646ff);
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    color: #fff;
    text-decoration: none;
    outline: none;
}

input[type=text]::selection, input[type=password]::selection {
    background-color: #4646ff;
}