.rotate-window {
    transform: perspective(1000px) rotateY(0deg);
    transition: transform .5s linear;
}

.auth-window {
    width: 400px;
    min-height: 355px;
    background-color: rgba(255, 255, 255, .1);
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
  
.auth-window .logo {
    background: url('../images/cloud.svg') no-repeat;
    background-size: contain;
    width: 128px;
    height: 128px;
    margin: -20px auto;
}
  
.auth-window .title {
    font-size: 25px;
    margin: 0 auto;
}

input[type=text]::placeholder, input[type=password]::placeholder {
    color: #ddd;
}

.auth-window .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.auth-window .buttons button {
    min-width: 100px;
}