.title_page {
    margin: 0 20px;
    padding: 0 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
}

.title_page .back_btn {
    border: 3px solid rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    padding: 3px 5px;
    border-radius: 3px;
    margin-right: 5px;
    height: 25px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.title_page h1 {

}