.profile-avatar-block {
    display: flex;
    opacity: .8;
    transition: opacity .2s ease-in-out, transform .2s ease-in-out;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }

    img.profile-avatar {
        height: 35px;
        border-radius: 50%;
    }
}