.btn {
    font-weight: 500;
    padding: 7px 5px;
    margin: 0 5px;
    border: 3px solid rgba(255, 255, 255, .4);
    background-color: transparent;
    border-radius: 8px;
    color: rgba(255, 255, 255, .7);
    white-space: nowrap;
    transition: border-color .3s ease-in-out, background-color .3s ease-in-out, color .3s ease-in-out;
    cursor: pointer;
}

.btn:first-child {
    margin: 0 5px 0 0;
}

.btn:last-child {
    margin: 0 0 0 5px;
}

.btn.red:hover {
    background-color: rgba(255, 0, 0, .45);
}

.btn.blue:hover {
    background-color: rgba(70, 70, 255, 1);
}

.btn:hover {
    background-color: rgba(255, 255, 255, .25);
    border-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 1);
}

.btn:focus {
    outline: 0;
    background-color: rgba(255, 255, 255, .25);
    border-color: rgba(255, 255, 255, .4);
    color: rgba(255, 255, 255, 1);
}