.dir-content {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 3;
    align-content: baseline;
    user-select: none;
    overflow-x: hidden;

    .message {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-style: italic;
    }
}

// input[type='checkbox'].check-custom {
//     position: absolute;
//     left: -10000px;
//     top: auto;
//     width: 1px;
//     height: 1px;
//     overflow: hidden;
// }
  
// input[type='checkbox'].check-custom ~ .check-toggle {
//     width: 16px;
//     height: 16px;
//     position: absolute;
//     top: 5px;
//     left: 5px;
//     display: inline-block;
//     vertical-align: middle;
//     border: 2px solid #fff;
//     border-radius: 50%;
//     cursor: pointer;
//     transition: border-color .2s ease-in-out;
//     opacity: .7;
// }
  
// input[type='checkbox'].check-custom:checked ~ .check-toggle {
//     border-color: #fff;
//     background: #fff url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxzdmcgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjQgMjQ7IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PGcgaWQ9ImluZm8iLz48ZyBpZD0iaWNvbnMiPjxwYXRoIGQ9Ik0xMCwxOGMtMC41LDAtMS0wLjItMS40LTAuNmwtNC00Yy0wLjgtMC44LTAuOC0yLDAtMi44YzAuOC0wLjgsMi4xLTAuOCwyLjgsMGwyLjYsMi42bDYuNi02LjYgICBjMC44LTAuOCwyLTAuOCwyLjgsMGMwLjgsMC44LDAuOCwyLDAsMi44bC04LDhDMTEsMTcuOCwxMC41LDE4LDEwLDE4eiIgaWQ9ImNoZWNrIi8+PC9nPjwvc3ZnPg==) center no-repeat;
//     background-size: 90%;
// }

@keyframes fadeInDesc {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}